<footer id="footer" class="user footer ">

    <div class="container footer-top">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-4 col-md-6 footer-about">
          <a routerLink="/Home">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/logo.png" alt="logo" style="width: auto;" height="70px">

          </a>
          <p style=" color: color-mix(in srgb, var(--default-color), transparent 30%); margin-top: 20px;">Our vision is to be the leading provider of skilled professionals in Germany. We aim to connect job seekers with employers in the most efficient way possible.</p>
   
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Contact as</h4>
          <div class="footer-contact pt-3">
            <p>ISET Sid Bouzid</p>
            <p>Tunisa Sidi Bouzid</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+216 12 345 678</span></p>
            <p><strong>Email:</strong> <span>elderCare&#64;gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
  
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Anesthesia Technical Assistants</a></li>
            <li><a href="#">Carers</a></li>
            <li><a href="#">Apprentice nurses</a></li>
          </ul>
        </div>
   
  
      </div>
    </div>
  
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 " style="color:var(--primary-color-light);">AgriLink</strong> <span>All Rights Reserved</span></p>
    
    </div>
  
</footer>